<h3>Create a new list</h3>

<%= simple_form_for @list, html: { multipart: true } do |f| %>
  <div>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  </div>

  <div>
    <%= f.button :submit, "Save List" %>
  </div>
<% end %>
